@font-face {
    font-family: "Principal";
    src: url('../fonts/Nunito-VariableFont_wght.woff');
}
@font-face {
    font-family: 'Title';
    src: url('../fonts/Humane-Regular.otf') format('woff'),
         url('../fonts/Humane-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Cursiva';
    src: url('../fonts/ButterflyKids-Regular.woff') format('woff'),
}
body {
    font-family: "Principal", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
  }
.dark-mode {
    --bg-color: #1a1a1a;
    --text-color: #ffffff;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #222;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h1 {
    font-family: "Title", "Principal";
    font-size: 90px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 4px;
    color: white;
    padding: 0px;
   
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav li {
    color: white;
    cursor: pointer;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
nav li:hover {
    color: yellow;
}
nav li:nth-child(1) { transition-delay: 0.1s; }
nav li:nth-child(2) { transition-delay: 0.2s; }
nav li:nth-child(3) { transition-delay: 0.3s; }
nav li:nth-child(4) { transition-delay: 0.4s; }
nav li:nth-child(5) { transition-delay: 0.5s; }
nav li:nth-child(6) { transition-delay: 0.6s; }
nav li:nth-child(7) { transition-delay: 0.7s; }
.nav-list-show li {
    opacity: 1;
    transform: translateY(0);
}
.login {
    background: yellow;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.login:hover {
    background: orange;
}
.theme-toggle {
    padding: 0;
    background-color: none;
    border: none;
}