{% extends 'base.html' %}
{% load static %}
{% block head %}
<style>
    .section-title {
        margin-top: 40px;
    }
  .page-header {
    width: 100%;
    height: 70vh;
    background: url('{% static "images/tiendaHeader.png" %}') no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
}
</style>
{% endblock %}
{% block content %}
<div class="container-fluid page-header mb-5 position-relative overlay-bottom">
</div>
<div class="container py-5">
    <div class="row">
        {% for producto in productos %}
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    {% if producto.imagenes.first %}
                        <img src="{{ producto.imagenes.first.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                    {% else %}
                        <img src="{% static 'images/child.png' %}" class="card-img-top" alt="Sin imagen">
                    {% endif %}
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text">{{ producto.descripcion|truncatewords:20 }}</p>
                        <p class="fw-bold text-primary">{{ producto.precio }} €</p>
                        <a href="{% url 'agregar_al_carrito' producto.id %}" class="btn btn-sm btn-outline-dark rounded-pill mt-auto">Añadir al carrito 🛒</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
