{% extends 'base.html' %}
{% load static %}
{% block head %}

<style>
  @media (max-width: 500px) {
    .blog-grid {
      grid-template-columns: 1fr;
    }

    .blog-box img {
      height: 160px;
    }
  }

  .page-header {
    width: 100%;
    height: 60vh;
    background: url('{% static "images/blogPost.png" %}') no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
  }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid page-header mb-5 position-relative overlay-bottom">
  <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
  </div>
</div>

<article class="mx-auto my-5" style="max-width: 800px;">
  <h1>{{ post.titulo }}</h1>
  {% if post.imagen %}
  <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}" data-aos="zoom-in-down"
    class="img-fluid rounded mt-3 d-block mx-auto" style="max-height: 500px; object-fit: cover;">
  {% endif %}
  <p data-aos="fade-up" class="mt-4 lh-base fs-5 text-secondary">{{ post.contenido|linebreaks }}</p>
  <a href="{% url 'blog' %}" class="d-inline-block mt-4" style="color: #7e22ce;">← Volver al blog</a>
</article>

{% endblock %}